<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>Label</key>
	<string>com.trademanager.supervisor</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/james.lyu916gmail.com/.trademanager_supervisor.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/james.lyu916gmail.com/Desktop/telegram-bot-main/logs/launchd-supervisor.log</string>
	<key>StandardOutPath</key>
	<string>/Users/james.lyu916gmail.com/Desktop/telegram-bot-main/logs/launchd-supervisor.log</string>
	<key>StartInterval</key>
	<integer>600</integer>
</dict>
</plist>
